#email:invalid, #tel:invalid, #url:invalid {
  background: red;
}

#email:valid, #tel:valid, #url:valid {
  background: green;
}


body {
  padding: 3em;
}
label {
  display: block;
}
input {
  padding: 0.25em 0;
  margin-bottom: 0.75em;
}